@font-face {
  font-family: "ComicCode";
  src: url("https://raw.githubusercontent.com/justinstitt/settings/main/comic-code/patched-nerd-font/Comic%20Code%20Ligatures%20Medium%20Nerd%20Font%20Complete.otf");
  font-weight: normal;
  font-style: normal;
}
